---
layout: base.njk
---
{%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
{% include "partials/header_post.njk" %}

<style>
  article {
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    color: #f8f9fa;
    background-color:rgb(173, 188, 202);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  article h1, article h2, article h3 {
    color: #ffc107;
    margin-top: 1.5rem;
  }

  article p {
    margin-bottom: 1rem;
  }

  .post-navigation a {
    color: #f8f9fa;
    background-color: #343a40;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
  }

  .post-navigation a:hover {
    background-color: #ffc107;
    color:rgb(192, 205, 219);
  }

  .author-section {
    margin-top: 2rem;
    padding: 1rem;
    background-color:rgb(184, 198, 212);
    border-radius: 8px;
    text-align: center;
  }

  .author-section a {
    color: #ffc107;
    text-decoration: none;
  }
</style>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <heading-anchors>
          {{ content | safe }}
        </heading-anchors>

        {%- if collections.posts %}
          {%- set previousPost = collections.posts | getPreviousCollectionItem %}
          {%- set nextPost = collections.posts | getNextCollectionItem %}
          {%- if nextPost or previousPost %}
            <div class="row mt-5 post-navigation">
              <div class="col-6">
                {%- if previousPost %}<a class="btn btn-primary text-uppercase col-12" href="{{ previousPost.url }}">← Previous</a>{% endif %}
              </div>
              <div class="col-6 text-end justify-content-end mb-4">
                {%- if nextPost %}<a class="btn btn-primary text-uppercase col-12" href="{{ nextPost.url }}">Next →</a>{% endif %}
              </div>
            </div>
          {%- endif %}
        {%- endif %}
      </div>
    </div>
  </div>
</article>
