<!-- Page Header-->
<header class="masthead" {% if cover_image %}style="background-image: url('{{ cover_image }}')" {% endif %}>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ title }}</h1>
                    {% if subtitle %}
                    <h2 class="subheading">{{ subtitle }}</h2>
                    {% endif %}
                    <div class="meta">
                        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
                        {% if author %}
                        <span class="meta-separator">&middot;</span>
                        <span class="meta-author">{{ author }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if cover_image %}
    <div class="overlay" role="presentation" aria-hidden="true"></div>
    <div class="image-credit">
        {% if image_credit %}
        <span class="visually-hidden">Image credit: </span>
        {{ image_credit }}
        {% endif %}
    </div>
    {% endif %}
</header>
